.heading::before{
  content: ' ';
  width: 4px;
  position: absolute;
  height: 20px;
  margin-top: 3px;
  margin-left: -6px;
  background-color: oklch(65.6% .241 354.308);
  border-radius: 4px;
}
.vertical-timeline-element-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-avtar{
    background-color: transparent;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-avtar>img{
    border-radius: 50%;
}